.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: grey;
}

nav {
  background-color: black;
  padding: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin: 0;
}

nav ul li a {
  color: white;
  font-weight: 700;
  font-size: 130%;
  text-decoration: none;
}

div.formSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.formSubmit form{
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

h1 {
  text-align: center;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}

form {
  display: block;
}

#root{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}